# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

- List popular languages for Data Science.
- Explain key concepts in Machine Learning.
- Showcase data visualization techniques using Python libraries.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Scikit-learn
2. TensorFlow
3. PyTorch

| Data Science Tools| 
|:--------:|
|  RStudio |  
|  Apache Spark  |  
|  TensorFlow  |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [ ]:
result = (3 * 4) + 5
print(result)

# This will convert 200 minutes to hours by dividing by 60.

In [ ]:
minutes = 200
hours = minutes / 60
hours

## Author

- [Chazel Botha]